

@font-face {
    font-family: 'Digital-Numbers';
    src:url('Digital-Numbers.ttf.woff') format('woff'),
        url('Digital-Numbers.ttf.svg#Digital-Numbers') format('svg'),
        url('Digital-Numbers.ttf.eot'),
        url('Digital-Numbers.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #681aa4;
}
body h1 {
    font-size: 9vh;
    margin-left: 0;
    margin-bottom: 3.4em;
    font-family:D
}
.credito{
    position: absolute;
    left: 12em;
    top: 49.2em;
    width: 48em;

    border-radius: 243px 47px 45px 63px;
    height: 5em;
}

#fundo_home {
    width: 50em;
    position: absolute;
    top: 15.1em;
    height: 31em;
    left: 18em;
}
.alavanca {
    width: 2.6em;
    font-size: 3em;
    height: 11em;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin-top: 1%; */
    left: 23.8em;
    top: 5.5em;
    font-family: fantasy;
    justify-content: center;
    cursor: pointer;
}
body div img {
    width: 8.5em;
    height: 6.9em;
}
body section {
    width: 29em;
    display: flex;
    margin-left: 21.5em;
    height: 5em;
    /* margin-top: 0%; */
    gap: 1em;
    margin-top: 0.9pc;
    /* position: static; */
}
body section div{
    width: 8em;
}
.principal {
    position: absolute;
    z-index: -1;
    width: 73em;
    left: 7em;
    top: -4em;
}
#img_logo{
    position: absolute;
    width: 40vh;
}
#aleatorio {
    width: 2.6em;
    font-size: 3em;
    height: 11em;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* margin-top: 1%; */
    left: 23.8em;

    top: 2em;

    font-family: fantasy;
    justify-content: center;
    cursor: pointer;
}
#front {
    position: absolute;
    
    top: -1.4%;
    left: -5%;
}
.painel {
    position: absolute;
    width: 69%;
    height: 77%;
    left: 16%;
    top: 8%;
    z-index: -1;
}
.red{
   
    animation: pulsar 0.5s ;
    animation-iteration-count: 12;
}
.valor {
  
    margin-left: 0.3em;
    margin-top: -1em;
}
#add {
    width: 5em;
    font-size: 2em;
    height: 2.5em;
    position: absolute;
    left: 8em;
    top: 24.9em;
    cursor: pointer;
    z-index: 1;
    background-color: #ff0000b3;
    border: none;
    color: aliceblue;
    border-radius: 0.5em;
}
#input{
    position: absolute;
    width: 1.7em;
    height: 1.7em;
    left: 16em;
    font-size: 3em;
}
.div_box {
    /* position: absolute; */
    top: 13.4em;
    font-size: 3em;
    left: 5em;
    z-index: 1;
    margin-top: 2em;
    font-family: 'Digital-Numbers';
    margin-left: 2em;
}
.borda {
    position: absolute;
    border: solid black 1vh;
    width: 60%;
    height: 58%;
    top: -23vh;
}

.divremmoverdivremmover {
    /* border: solid; */
    width: 37em;
    height: 14em;
    background-color: #7e88d9;
    position: absolute;
    top: -2pc;
    animation: pulsar 0.5s;
    animation-iteration-count: 12;
    left: 24em;
}
#section_principal {
    margin-top: 15pc;
}
#btn_aposta {
    position: absolute;
    left: 19em;
    background-color: red;
    top: 24.6em;
    width: 5em;
    height: 2.5em;
    color: aliceblue;
    cursor: pointer;
    border: none;
    font-size: 2em;
}

.regras {
    margin-top: 1em;
    width: 73em;
    position: absolute;
    height: 14em;
    border: solid black;
    left: 7em;
    color: aliceblue;
    top: 59Em;
}
.h3 { text-align: center;
    font-size: 3em;
    font-family: system-ui;
    margin-bottom: 0.5em;
}
.ul{
    text-align: center;
    font-family: system-ui;
    
}
@keyframes pulsar {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}